
<style>
    .ab {
        width: 100%;
        padding: 4px 9px;
        margin: 1px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        /* transition: 0.5s; */
        outline: none;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <header class="page-header">
                        <!--<h2 class="warning page-header-item">{{vm.title}}</h2>-->
                        <h2 class="warning page-header-item">Task Distribution</h2>
                    </header>
                    <form name="vm.invoiceForm">
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="well inline-headers">
                                    <h2>Name</h2>
                                    <label class="label label-primary">{{vm.productDetails.ProductName}}</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="well inline-headers">
                                    <h2>ASIN</h2>
                                    <label class="label label-primary">{{vm.productDetails.ProductAsin}}</label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="well inline-headers">
                                    <h2>Link</h2>
                                    <a href="{{vm.productDetails.ProductLink}}" target="_blank">Link</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="well inline-headers">
                                            <h2>Review Collect</h2>
                                            <label class="label label-success" ng-if="vm.productDetails.NumberOfReviewCollect!=null">{{vm.productDetails.NumberOfReviewCollect}}</label>
                                            <label class="label label-success" ng-if="vm.productDetails.NumberOfReviewCollect==null">0</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="well inline-headers">
                                            <h2>Review Needed</h2>
                                            <label class="label label-success">{{vm.productDetails.NumberOfReviewNeed}}</label>
                                            <label class="label label-info">Total given review: {{vm.totalMargin}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="well inline-headers">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="page-header">
                                                <h2 class="warning page-header-item">Current Worker </h2>
                                            </div>
                                            <div class="table-wrapper table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>SL NO</th>
                                                            <th>Name</th>
                                                            <th>Review Collect Margin</th>
                                                            <th>Review Collect</th>
                                                            <th>Per Review Cost</th>
                                                            <th class="text-right">Edit</th>
                                                            <th class="text-right">Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="cri in  vm.currentReviewerInfo">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{cri.Name}}</td>
                                                            <td>{{cri.ReviewCollectMargin}}</td>
                                                            <td ng-if="cri.NumberOfReviewCollect!=null">{{cri.NumberOfReviewCollect}}</td>
                                                            <td ng-if="cri.NumberOfReviewCollect==null">0</td>
                                                            <td>{{cri.PerReviewCost}}</td>
                                                            <td class="text-right">
                                                                <a class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.taskAsign(cp)"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span></a>
                                                            </td>
                                                            <td class="text-right">
                                                                <a class="btn custom-btn btn-delete btn-danger btn-xs" style="cursor:pointer" ng-confirmation-click="vm.deleteDepartment(department)"
                                                                   ng-confirmation-message="Do you want to delete Department"
                                                                   ng-confirmation-title="Delete Department"
                                                                   ng-confirmation-yes-text="Yes"
                                                                   ng-confirmation-cancel-text="No"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"></span></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="text-left" ng-if="vm.invoices.length > 0">
                                                    <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="container">
                        <div class="page-header">

                            <h1>Active Reviewer List</h1>
                        </div>
                        <div>
                            <div class="row" ng-repeat="reviewer in vm.reviewerList">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="selectedFruits[]" value="{{reviewer}}" ng-disabled="!reviewer.ReviewCollectMargin || !reviewer.PerReviewCost" ng-checked="vm.selectedReviewer.indexOf(reviewer) > -1" ng-click="vm.reviewerSelect(reviewer)">
                                            {{reviewer.Name}}
                                        </label>
                                        <label class="label label-success">Working Book: <span style="font-weight: bolder;">{{reviewer.WorkingBookCount}}</span>, Review Margin: <span style="font-weight: bolder;">{{reviewer.TotalReviewMargin}}</span>, Review Collect: <span style="font-weight: bolder;">{{reviewer.TotalReviewCollect}}</span></label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="number" class="ab" name="ReviewCollectMargin" ng-model="reviewer.ReviewCollectMargin" placeholder="Review Collect" required>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="number" class="ab" name="PerReviewCost" ng-model="reviewer.PerReviewCost" placeholder="Review Price(৳)" required>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="text-left" ng-if="vm.reviewerList.length > 0">
                                <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                            </div>
                            <div class="row" ng-if="vm.selectedReviewer.length> 0">
                                <div class="col-md-10">
                                    <h4>Selected Reviewer</h4>
                                    <pre>{{vm.selectedReviewer|json}}</pre>
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL NO</th>
                                                <th>Book Name</th>
                                                <th>Review Collect Margin</th>
                                                <th>Per Review Pay(৳)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sr in  vm.selectedReviewer">
                                                <td>{{$index+1}}</td>
                                                <td>{{sr.Name}}</td>
                                                <td>{{sr.ReviewCollectMargin}}</td>
                                                <td>৳ {{sr.PerReviewCost}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn custom-btn btn-info" style="float:right;" ng-click="vm.taskAsign()" ng-disabled="vm.itemForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Task Asign</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
