<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <header class="page-header">
                        <h2 class="warning page-header-item">Add Product</h2>
                    </header>
                    <form name="vm.invoiceForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="custom-label"> Product Name</label>
                                    <input type="text" id="name" class="form-control custom-form-control" ng-model="vm.invoice.name" name="name" ng-maxlength="50" required />
                                    <p ng-show="vm.invoiceForm.name.$error.required" class="help-block errormsg">Product name Type is required</p>
                                    <p ng-show="vm.invoiceForm.name.$error.maxlength" class="help-block errormsg">Maximum character 50</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email" class="custom-label">Product ASIN</label>
                                    <input type="email" id="departmentCode" class="form-control custom-form-control"
                                           ng-model="vm.invoice.email"
                                           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/"
                                           name="email"
                                           ng-maxlength="50"
                                           required />
                                    <p ng-show="vm.invoiceForm.email.$error.required" class="help-block errormsg">Product ASIN is required</p>
                                    <p ng-show="vm.invoiceForm.email.$error.maxlength" class="help-block errormsg">Maximum character 50</p>
                                    <p ng-show="vm.invoiceForm.email.$error.pattern" class="help-block errormsg">Wrong email address</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone" class="custom-label">Product Link</label>
                                    <input type="text" id="phone" class="form-control custom-form-control" ng-model="vm.invoice.phone" name="phone" ng-maxlength="16" required />
                                    <p ng-show="vm.invoiceForm.phone.$error.required" class="help-block errormsg">Product link  is required</p>
                                    <p ng-show="vm.invoiceForm.phone.$error.maxlength" class="help-block errormsg">Maximum Character 16</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="invoiceNo" class="custom-label">Number Of Review Need</label>
                                    <input type="number" id="invoiceNo" class="form-control custom-form-control" ng-model="vm.invoice.invoiceNo" name="invoiceNo" ng-maxlength="16" required />
                                    <p ng-show="vm.invoiceForm.invoiceNo.$error.required" class="help-block errormsg">Number Of... is required</p>
                                    <p ng-show="vm.invoiceForm.invoiceNo.$error.maxlength" class="help-block errormsg">Maximum Character 16</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="invoiceDate" class="custom-label">Review Start Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type="text" class="form-control" id="invoiceDate" name="invoiceDate" uib-datepicker-popup="{{format}}" ng-model="vm.invoice.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="vm.invoiceForm.invoiceDate.$error.required" class="help-block errormsg">Date is required</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="invoiceDate" class="custom-label">Review End Date</label>
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type="text" class="form-control" id="invoiceDate" name="invoiceDate" uib-datepicker-popup="{{format}}" ng-model="vm.invoice.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <p ng-show="vm.invoiceForm.invoiceDate.$error.required" class="help-block errormsg">Date is required</p>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="custom-label">Working Status</label><br />
                            <label class="radio-inline">
                                <input type="radio" name="optradio" checked>Ongoing
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">Unset
                            </label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.invoiceForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                            <button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>