<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <header class="page-header">
                        <!--<h2 class="warning page-header-item">{{vm.title}}</h2>-->
                        <h2 class="warning page-header-item">Review Submition Form</h2>
                    </header>
                    <form name="vm.invoiceForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="well inline-headers">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2>Book Name</h2>
                                            <label class="label label-primary">{{vm.productInfo.Product.ProductName}}</label>
                                            <h2>Book ASIN</h2>
                                            <label class="label label-primary">{{vm.productInfo.Product.ProductAsin}}</label>
                                            <h2>Book Link</h2>
                                            <a href="{{vm.productInfo.Product.ProductLink}}" target="_blank">Link</a>
                                        </div>
                                        <div class="col-md-6">
                                            <h2>Review Collect</h2>
                                            <label ng-if="vm.productInfo.NumberOfReviewCollect!=null" class="label label-success">{{vm.productInfo.NumberOfReviewCollect}}</label>
                                            <label ng-if="vm.productInfo.NumberOfReviewCollect==null" class="label label-success">0</label>
                                            <h2>Review Needed</h2>
                                            <label class="label label-success">{{vm.productInfo.ReviewCollectMargin}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <form name="vm.reviewForm">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="SwapmeetFbName" class="custom-label">SM FB Name</label>
                                    <input type="text" id="SwapmeetFbName" class="form-control custom-form-control" ng-model="vm.review.SwapmeetFbName" name="SwapmeetFbName" ng-maxlength="250" required />
                                    <p ng-show="vm.reviewForm.SwapmeetFbName.$error.required" class="help-block errormsg">FB name is required</p>
                                    <p ng-show="vm.reviewForm.SwapmeetFbName.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="SwapmeetFbProfileLink" class="custom-label">SM FB Link</label>
                                    <input type="text" id="SwapmeetFbProfileLink" class="form-control custom-form-control" ng-model="vm.review.SwapmeetFbProfileLink" name="SwapmeetFbProfileLink" ng-maxlength="250" required />
                                    <p ng-show="vm.reviewForm.SwapmeetFbProfileLink.$error.required" class="help-block errormsg">FB link is required</p>
                                    <p ng-show="vm.reviewForm.SwapmeetFbProfileLink.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="SwapmeetProductLink" class="custom-label"> SM Book Link</label>
                                    <input type="text" id="SwapmeetProductLink" class="form-control custom-form-control" ng-model="vm.review.SwapmeetProductLink" name="SwapmeetProductLink" ng-maxlength="250" required />
                                    <p ng-show="vm.reviewForm.SwapmeetProductLink.$error.required" class="help-block errormsg"> Book link is required</p>
                                    <p ng-show="vm.reviewForm.SwapmeetProductLink.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="SwapmeetReviewLink" class="custom-label">SM Review Link</label>
                                    <input type="text" id="SwapmeetReviewLink" class="form-control custom-form-control" ng-model="vm.review.SwapmeetReviewLink" name="SwapmeetReviewLink" />

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="OwnReviewLink" class="custom-label">Own Review Link</label>
                                    <input type="text" id="OwnReviewLink" class="form-control custom-form-control" ng-model="vm.review.OwnReviewLink" name="OwnReviewLink" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn custom-btn btn-info" style="float:right;" ng-click="vm.addNewReview()" ng-disabled="vm.reviewForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Add Review</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>














