<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <header class="page-header">
                        <!--<h2 class="warning page-header-item">{{vm.title}}</h2>-->
                        <h2 class="warning page-header-item">Review Submition Form</h2>
                    </header>
                    <form name="vm.invoiceForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="well inline-headers">
                                    <h2>Book Name</h2>
                                    <label class="label label-primary">{{vm.productInfo.Product.ProductName}}</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="well inline-headers">
                                    <h2>Book ASIN</h2>
                                    <label class="label label-primary">{{vm.productInfo.Product.ProductAsin}}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="well inline-headers">
                                    <h2>Book Link</h2>
                                    <a href="{{vm.productInfo.Product.ProductLink}}" target="_blank">Link</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="well inline-headers">
                                            <h2>Review Collect</h2>
                                            <label class="label label-success">{{vm.productInfo.NumberOfReviewCollect}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="well inline-headers">
                                            <h2>Review Needed</h2>
                                            <label class="label label-success">{{vm.productInfo.ReviewCollectMargin}}</label>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                      
                    </form>
                    <hr />
                    <form name="vm.itemForm">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="itemName" class="custom-label">Swapmeet FB Link</label>
                                    <input type="text" id="itemName" class="form-control custom-form-control" ng-model="vm.invoiceDetail.itemName" name="itemName" ng-maxlength="250" required />
                                    <p ng-show="vm.itemForm.itemName.$error.required" class="help-block errormsg">FB link is required</p>
                                    <p ng-show="vm.itemForm.itemName.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="quantity" class="custom-label"> Swapmeet Book Link</label>
                                    <input type="text" id="quantity" class="form-control custom-form-control" ng-model="vm.invoiceDetail.quantity" name="quantity" ng-maxlength="250" required />
                                    <p ng-show="vm.itemForm.quantity.$error.required" class="help-block errormsg"> Book link is required</p>
                                    <p ng-show="vm.itemForm.quantity.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="rate" class="custom-label">Swapmeet Review Link</label>
                                    <input type="text" id="rate" class="form-control custom-form-control" ng-model="vm.invoiceDetail.rate" name="rate" />
                                 
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="rate" class="custom-label">Own Review Link</label>
                                    <input type="text" id="rate" class="form-control custom-form-control" ng-model="vm.invoiceDetail.rate" name="rate" />                                
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn custom-btn btn-info" style="float:right;" ng-click="vm.addNewReview()" ng-disabled="vm.itemForm.$invalid"><span class="glyphicon glyphicon-plus"></span> Add Review</button>
                        </div>
                    </div>
                               
                </div>
            </div>
        </div>
    </div>
</div>