<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="page-header">
                        <h2 class="warning page-header-item">Review Check Page</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3" ng-repeat="review in vm.producReviewtList">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="review.ReviewStatus" ng-checked="review.ReviewStatus==true" ng-click="vm.reviewCheck(review)">
                                    <a href="reviewer.SwapmeetReviewLink" target="_blank">Review Link</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

