<style>
    li a:hover {
        background-color: #4281b3 !important;
        color: white;
    }
</style>
<div class="col-sm-3 sidenav" ng-controller="LeftSideBarNavigationController as vm">
    <ul class="nav nav-pills nav-stacked">
        <li><a ng-href="admin/#/dashboard">Dashboard</a></li>
        <li><a ng-href="admin/#/reviewer-request">Reviewer Request</a></li>
        <li><a ng-href="admin/#/task-asign">Task Asign</a></li>
        <li><a ng-href="admin/#/products">Product</a></li>
        <li><a ng-href="admin/#/product-review-check">Review Check</a></li>
        <li><a ng-href="admin/#/payment">Payment</a></li>
    </ul>   
</div>
