<section class="sidebar-section" ng-controller="LeftSideBarNavigationController as vm">
    <div id="sidebar-wrapper">
        <div>
            <a href="index.html#/departments" style="display:block;">Department</a>
            <a ng-href="index.html#/courses" style="display:block;">Course</a>
            <a ng-href="index.html#/students" style="display:block;">Student</a>
            <a ng-href="index.html#/invoices" style="display:block;">Invoice</a>
            <a ng-href="index.html#/products" style="display:block;">Product</a>
            <a ng-href="index.html#/add-product" style="display:block;">New Product Add</a>
            <a ng-href="index.html#/reviewer-asign-task" style="display:block;">Task</a>
            <a ng-href="index.html#/review">Review</a>
          
        </div>
    </div>
</section>



