<!--<pre>{{vm.ReviewerPaymentDetails | json}}</pre>-->




<style>
    .ab {
        width: 100%;
        padding: 4px 9px;
        margin: 1px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        /* transition: 0.5s; */
        outline: none;
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <header class="page-header">
                        <!--<h2 class="warning page-header-item">{{vm.title}}</h2>-->
                        <h2 class="warning page-header-item">Payment Details</h2>
                    </header>
                    <form name="vm.invoiceForm">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="well inline-headers">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="page-header">
                                                <h2 class="warning page-header-item">Working Book </h2>
                                            </div>
                                            <div class="table-wrapper table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>SL NO</th>
                                                            <th>Book Name</th>
                                                            <th>Live Review</th>
                                                            <th>Review Cost</th>
                                                            <th>Per Review Cost</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="pm in  vm.ReviewerPaymentDetails.paymentModels">
                                                            <td>{{$index+1}}</td>
                                                            <td>{{pm.BookName}}</td>
                                                            <td>{{pm.LiveReview}}</td>
                                                            <td>{{pm.TotalReviewCost}}</td>
                                                            <td>{{pm.PerReviewCost}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="text-left" ng-if="vm.invoices.length > 0">
                                                    <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="well inline-headers">
                                    <h2>Reviewer Name <label class="label label-primary">{{vm.ReviewerPaymentDetails.reviewerName}}</label></h2>                       
                                    <h2>Total Payment Amount <label class="label label-primary">{{vm.ReviewerPaymentDetails.totalAmount}}</label></h2>                                   
                                    <h2>Total Live review <label class="label label-primary">{{vm.ReviewerPaymentDetails.totalLiveReview}}</label></h2>           
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
